*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navbar{
   width: 100%;
   height: 10vh;
   background-color: black;
   color: white;
   align-items: center;
   display: flex;
   justify-content: center;
   text-align: center;
}
.content{
  min-height: 80vh;
  margin: 40px 0;
  margin-bottom: 20px;
  margin-left: 35%;

}
.display{
  display: flex;
  grid-template-columns: repeat(5,1fr);
  width:  100%;
  
  margin-top: 40px;
}
.footer{
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: black;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
.standings{
  padding: 0;
  margin: auto;
  justify-content: center;
  align-self: center;
  display: inline-block;
}
button{
  background-color: black;
  color: white;
  padding: 5px;
  margin-top: 0px;
  border-radius: 4px;
  border-right: 3px solid grey;
  width: 200px;
  height: 30px;
  font-size: large;
  font-weight: 400;
}
button:hover{
  color: rgb(97, 5, 32);
}
button:active{
  color: rgb(97, 5, 32);
}
